body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.profile-photo {
    width: 150px; /* Ajustez cette valeur en fonction de la taille de votre photo */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto; /* Centre l'image */
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}
